<div class="card">
    <div class="card-body">

<div class="grid-table">
    <div class="thead">
        <div class="tr">
            
            <div class="td">Name</div>
                <div class="td">ingredients</div>
                    <div class="td">type</div>
                        <div class="td">Selling price</div>
                        <div class="td">Buying price</div>
                            <div class="td">Actions</div>
            <button class="btn btn-outline-success" (click)="addItemForm()">
                <i class="fa fa-plus"></i> New item
            </button>
        </div>
        <div class="td">
            <span *ngIf="notification" class="elementToFadeInAndOut">
                <i class="fas fa-check-circle {{notification.class}}"></i>
                {{notification.message}}
            </span>
        </div>
    </div>

<div class="tbody">
    
    <form class="tr" [formGroup]="fg" *ngFor="let fg of ItemsForms.controls; let i=index;" (submit)="recordSubmit(fg)">
                
                    <div class="td">
                        <input class="form-control" formControlName="name">
                    </div>
                    <div class="td">
                        <input class="form-control" formControlName="ingredients">
                    </div>
                    <div class="td">
                        <select class="form-control" formControlName="type">
                            <option  value="CAKE">CAKE</option>
                            <option  value="COOKIE">COOKIE</option>
                            <option  value="CUPCAKE">CUPCAKE</option>
                            <option  value="OTHER">OTHER</option>
                        </select>
                    </div>
                   
                    <div class="td">
                        <input class="form-control" formControlName="sellingPrice">
                    </div>
                    <div class="td">
                        <input class="form-control" formControlName="buyingPrice">
                    </div>
                    <div class="td">
                      <span>  <button type="submit" class="btn" [disabled]="fg.invalid" [ngClass]="(fg.get('id').value==0)?'btn-success':'btn-outline-dark'">
                            <i class="fas fa-save fa-lg"></i>{{fg.get('id').value==0?'Submit':'Update'}}</button></span>
                            <span>  <button class="btn btn-light ml-1" (click)="onDelete(fg.get('id').value,i)">
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                        </button></span>
                
                    </div>
    </form>
 </div>
</div>
</div>
</div>