

html,body{
background-image: url('https://cdn3.tmbi.com/toh/GoogleImagesPostCard/exps957_TH143195C09_04_4b.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}



.card-header h3{
color: white;
}

input {
    background-color:rgba(0,0,0,0.5);
  }
  input[type=text] {
    background-color:rgba(0,0,0,0.5);
    color:white;
  }
  input[type=password] {
    background-color:rgba(0,0,0,0.5);
    color:white;
  }
.input-group-prepend span{
    width: 50px;
    background-color:rgba(0,0,0,0.5);
    color: white;
    border:0 !important;
    }

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}


.login_btn{
color: white;
background-color: #9fa8da;
width: 100px;
}

.login_btn:hover{
color:white;
background-color:#c5cae9 ;
}

.links{
color: white;
}

.links a{
margin-left: 4px;

}