body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card {
    background-color: #9fa8da;
}
/* unvisited link */
a:link {
    color: #343776;
  }
  
  /* visited link */
  a:visited {
    color: #343776;
  }
  
  /* mouse over link */
  a:hover {
    color:#BA68C8;
  }
  a {font-size: 20px;
    text-shadow: 2px 2px 5px white;

}
  
  