  <!--Main layout-->
  <main class="mt-5">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
          
                <form class="card-body"  #ShippingForm="ngForm"(ngSubmit)="submit(ShippingForm.value)">
                
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName-->
                  <div class="md-form ">
                      <p>First name</p>
                    <input type="text" class="form-control" id="firstName"  placeholder="First name"
                    required
                    [(ngModel)]="user.firstName" name="firstName"
                    #firstName="ngModel">
                   
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--lastName-->
                  <div class="md-form">
                    <p>Last name</p>
                    <input type="text" class="form-control" id="lastName"  placeholder="Last name"
                    required
                    [(ngModel)]="user.lastName" name="lastName"
                    #lastName="ngModel">
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Username-->
              <!-- <div class="md-form input-group pl-0 mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control py-0" placeholder="Username" aria-describedby="basic-addon1">
              </div> -->

              <!--email-->
              <div class="md-form mb-5">
                <p>Email</p>
                <input type="text" class="form-control" id="email"  placeholder="Email"
                required
                [(ngModel)]="user.email" name="email"
                #email="ngModel">
              </div>

              <!--address-->
              <div class="md-form mb-5">
                <p>Address</p>
                <input type="text" class="form-control" id="address" placeholder="Address"
                required
                [(ngModel)]="user.address" name="address"
                #address="ngModel">

              </div>

             

              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input id="pointsRB" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="pointsRB">Pay with your points? ({{user.points}})</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="debit">Debit card</label>
                </div>
            
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div *ngIf="error" class="red-text center error-message">
                    <i class="material-icons">error</i> Cannot create an order without order items.
                  </div>
                </div>
               
              </div>
              
              <hr class="mb-4">
         
              <button [disabled]="!ShippingForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">Create Order</button>
              
            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{nrOfItems}}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of shoppingCart"> 
              <div>
                <h6 class="my-0">{{product.item.name}} ({{product.quantity}})</h6>
                <small class="text-muted">{{product.item.ingredients}}</small>
              </div>
              <span class="text-muted">${{product.item.sellingPrice}}</span>
            </li>
            
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (EURO)</span>
              <strong>€{{totalPrice}}</strong>
            </li>
          </ul>
          
          <!-- Cart -->

          <!-- Promo code -->
          <!-- <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
              </div>
            </div>
          </form> -->
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>