<div class="card">
    <div class="card-body">

<div class="grid-table">
    <div class="thead">
        <div class="tr">
            
            <div class="td">Order number</div>
               
                    <div class="td">Address</div>
                        <div class="td">Order status</div>
                        <div class="td">Total price</div>
                            <div class="td">Actions</div>
                            <button class="btn btn-light ml-1" (click)="onDelete()">
                                <i class="far fa-trash-alt fa-lg text-danger">  Clear all</i>
                                </button>
        </div>
        <div class="td">
            <span *ngIf="notification" class="elementToFadeInAndOut">
                <i class="fas fa-check-circle {{notification.class}}"></i>
                {{notification.message}}
            </span>
        </div>
    </div>

<div class="tbody">
    
    <form class="tr" [formGroup]="fg" *ngFor="let fg of ordersForms.controls; let i=index;" (submit)="recordSubmit(fg)">
        
                    <div class="td">
                        <input class="form-control" formControlName="orderNumber" [attr.disabled]="true">
                    </div>
                    
                    
                    <div class="td">
                        <input class="form-control" formControlName="address">
                    </div>
                    <div class="td">
                        <select class="form-control" formControlName="status">
                            <option  value="PENDING">PENDING</option>
                            <option  value="SHIPPED">SHIPPED</option>
                        </select>
                    </div>
                    
                    <div class="td">
                        <input class="form-control" formControlName="totalPrice">
                    </div>
                    <div class="td">
                        <span><button type="submit" class="btn" [disabled]="fg.invalid" [ngClass]="(fg.get('orderNumber').value==0)?'btn-success':'btn-outline-dark'">
                            <i class="fas fa-save fa-lg"></i>{{fg.get('orderNumber').value==0?'Submit':'Update'}}</button></span>
                                
                            <span><a  href="/receipt/{{fg.get('orderNumber').value}}" class="btn btn-secondary" >Receipt</a></span>
                
                    </div>
    </form>
 </div>
</div>
</div>
</div>