
  <body>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
    
  <div id="search-component">
    <h4><label for="search-box">Item Filter</label></h4>
  
    <mat-radio-group
    aria-labelledby="example-radio-group-label"
    
    class="example-radio-group"
    [(ngModel)]="item.TypeOfItem">
    <mat-radio-button (change)="radioChange($event)" class="example-radio-button" *ngFor="let type of productTypes" [value]="type">
      {{type}}
    </mat-radio-button>
  </mat-radio-group>
  <div>Your favorite season is: {{item.TypeOfItem}}</div>
    
    <mat-slider
    (input)="onInputChange($event)"
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="500"
    min="2"
    max="500"></mat-slider>

    <ul class="search-result">
      <li *ngFor="let item of filterItems$ | async" >
      
          {{item.name}}
      
      </li>
    </ul>
  </div>
 
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" class="fas fa-chevron-right" mat-button (click)="drawer.toggle()"></button>
      <h4><label for="search-box">Item Search</label></h4>
  
      <input #searchBox id="search-box" (input)="search(searchBox.value)" />
      <div class="content">
      <h1>Products</h1> 
      <div *ngFor="let product of itemsList">

        <h4>
          <a [title]="product.name + ' details'" (click)="openProductDetails(product)">
           <ul>
             <li>{{ product.name }}</li>
           </ul> 
          </a>
        </h4>
      
      </div>
    </div>

  <!-- <a class="button fancy-button"><mdb-icon fas icon="shopping-cart"  mdbDropdownToggle></mdb-icon>Checkout</a> -->

  <div id="search-component">
 
  
    <ul class="search-result">
      <li *ngFor="let item of items$ | async" >
      
          {{item.name}}
      
      </li>
    </ul>
  </div>
    </div>
  
  </mat-drawer-container>
</body>