body {
  background-image: url('https://ca-times.brightspotcdn.com/dims4/default/485b204/2147483647/strip/true/crop/2048x1379+0+0/resize/1486x1001!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F16%2F84%2F6d475eceb85c0e39c93c1aa01ce0%2Fla-fo-proof-chocolate-cake-photos-012');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  }
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  

  .example-radio-button {
    margin: 5px;
  }

  mat-slider {
    width: 300px;
  }
  .example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color:white;
  }
  
  .example-sidenav-content {
    //display: flex;
    height: 100%;
   
    
    
  }
  .content{
    text-align: center ;
    
  }
  
  .example-sidenav {
    padding: 20px;
    background-color:white;
  }
  ul {
      list-style-type: none;
     }
     