<h2>Products</h2>
<mat-selection-list #items>
    <mat-list-option *ngFor="let item of itemsList">
      {{item.name}}
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Options selected: {{items.selectedOptions.selected.length}}
  </p>

  <a class="button fancy-button" href="#"><mdb-icon fas icon="shopping-cart"  mdbDropdownToggle></mdb-icon>Checkout</a>
  <div id="search-component">
    <h4><label for="search-box">Item Search</label></h4>
  
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let item of items$ | async" >
      
          {{item.name}}
      
      </li>
    </ul>
  </div>
  <div id="search-component">
    <h4><label for="search-box">Item Filter</label></h4>
  
    <mat-radio-group
    aria-labelledby="example-radio-group-label"
    
    class="example-radio-group"
    [(ngModel)]="item.TypeOfItem">
    <mat-radio-button (change)="radioChange($event)" class="example-radio-button" *ngFor="let type of productTypes" [value]="type">
      {{type}}
    </mat-radio-button>
  </mat-radio-group>
  <div>Your favorite season is: {{item.TypeOfItem}}</div>
    
    <mat-slider
    (input)="onInputChange($event)"
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="500"
    min="2"
    max="500"></mat-slider>

    <ul class="search-result">
      <li *ngFor="let item of filterItems$ | async" >
      
          {{item.name}}
      
      </li>
    </ul>
  </div>
   