<div class="card">
    <div class="card-body">

<div class="grid-table">
    <div class="thead">
        <div class="tr">
            
            <div class="td">First Name</div>
            <div class="td">Last Name</div>
                <div class="td">address</div>
                    <div class="td">points</div>
                        <div class="td">birthday</div>
                        <div class="td">email</div>
                            <div class="td">Actions</div>
        </div>
        <div class="td">
            <span *ngIf="notification" class="elementToFadeInAndOut">
                <i class="fas fa-check-circle {{notification.class}}"></i>
                {{notification.message}}
            </span>
        </div>
    </div>

<div class="tbody">
    
    <form class="tr" [formGroup]="fg" *ngFor="let fg of usersForms.controls; let i=index;" (submit)="recordSubmit(fg)">
                
                    <div class="td">
                        <input class="form-control" formControlName="firstName">
                    </div>
                    <div class="td">
                        <input class="form-control" formControlName="lastName">
                    </div>
                    <div class="td">
                        <input class="form-control" formControlName="address">
                    </div>
                    <div class="td">
                        <input class="form-control" formControlName="points">
                    </div>
                    <div class="td">
                        <input class="form-control" formControlName="birthday">
                    </div>
                    <div class="td">
                        <input class="form-control" formControlName="email">
                    </div>
                    <div class="td">
                      <span><button type="submit" class="btn" [disabled]="fg.invalid" [ngClass]="(fg.get('id').value==0)?'btn-success':'btn-outline-dark'">
                            <i class="fas fa-save fa-lg"></i>{{fg.get('id').value==0?'Submit':'Update'}}</button></span>  
                            <span> <button class="btn btn-light ml-1" (click)="onDelete(fg.get('id').value,i)">
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                        </button></span>  
                
                    </div>
    </form>
 </div>
</div>
</div>
</div>