#confirm > p {
    margin: 5%;
}

/* BUTTON */
.mat-dialog-actions .mat-button-base {
    margin-left: 0;
}

.mat-dialog-actions .mat-raised-button {
    min-width: 40%;
    margin: 15% 5%;
    background: #0075db;
    color: white;
}


/* screens less than 1130 */
@media screen and (max-width: 1130px) {
    /* stack button on top of each other */
    .mat-dialog-actions .mat-raised-button {
        min-width: 90%;
        margin: 5%;
    }
}
