<body>
<div class="backgroudddd">
   <h1> <p class="title">THANK YOU FOR YOUR ORDER</p></h1>
<div class="container">

    <p class="float-right"> Ordernr</p>
    <p>order date</p>
    
</div>
<div class="container">

<p>
   <b> THANKS FOR YOUR ORDER!</b>
    <br>
    Hi name, we are glad that you have chosen to shop with us.
    <br>
    Below is important information that we ask you to check carefully. If something is wrong or if you have questions, please contact our customer service by answering this email or calling 010-10 14 930.
    <br>
    Estimated delivery time for your order is 1 to 4 working days.

</p>
</div>
</div>
</body>