<body>
<div class="backgroudddd">
   <h1> <p class="title">THANK YOU FOR YOUR ORDER</p></h1>
<div class="container">

    <p class="float-right"> Order number: {{order.orderNumber}}</p>
    <p>{{order.time}}</p>
    
</div>
<div class="container">

<p>
   <b><h3>THANKS FOR YOUR ORDER!</h3> </b>
    
    Hi <b>{{order.customerName}}</b>, we are glad that you have chosen to shop with us. We have added 10 points to your account, which you can use next time you are shopping!
    <br>
If something is wrong or if you have questions, please contact our customer service by email or calling 0639139166.
    <br>
    Estimated delivery time for your order is <b>1 to 4 working days.</b>

</p>
</div>

<div class="container">
<b><p>YOU HAVE ORDERED THE FOLLOWING</p></b>
<ul >
    <li *ngFor="let product of order.orderedItemsList"> 
      <div>
       {{product.item.name}}
      </div>
    </li>
    
  </ul>
</div>
<div class="container">
  <b> <p>CUSTOMER INFORMATION</p></b> 
  <p>{{order.customerName}}</p>
  <br>
  <p>{{order.address}}</p>
  <br>
  <p>{{user.email}}</p>
    </div>

</div>
</body>