body {
    background-color: #9fe2ff;
}
.container {
    width: 800px;
    background-color: #ffffff;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    
   
}

.title{
 
    margin: 50px;
    background-color: #9fe2ff;
    text-align: center ;
}
ul {
    list-style-type: none;
   }