<body>
<div class="faqHeader">General questions</div>
<div class="accordion" id="myAccordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button type="button"class="btn btn-light"data-toggle="collapse" data-target="#collapseOne">1. What is the delivery time?</button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
            <div class="card-body">
                <p>For orders to a pickup point or directly to your home address, received M-Thurs before 2 p.m., will typically be send the same day (except when one of those days is a holiday). For orders placed on a Friday, as well as orders placed on Saturday or Sunday, the items will be sent from our bakery the following Monday. However, the delivery time may vary based on the volume of orders that we are processing and circumstances that we have no control over, such as delays with the carrier. </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button type="button"class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo">2. Where is my package?</button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#myAccordion">
            <div class="card-body">
                <p>If you still haven’t received your package after a few days or within the scheduled time, please contact our customer service.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button type="button"class="btn btn-light" data-toggle="collapse" data-target="#collapseThree">3. What fees do you charge?</button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
            <div class="card-body">
                <p>For orders with home delivery shipping charges of EUR 5.90 will be charged.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#collapseFour">4. Is it possible for me to track my order?</button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myAccordion">
            <div class="card-body">
                <p>Not at the moment, No.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#collapseFive">5. How long does it take before I am refunded?</button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#myAccordion">
            <div class="card-body">
                <p>If you paid by card, it can take between 3-5 days before you are credited for the amount.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
            <h2 class="mb-0">
                <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#collapseSix">6. What if I am not happy with my order?</button>
            </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#myAccordion">
            <div class="card-body">
                <p>You are welcomed to call us at +31639139166 to complain and maybe we will send you a refund.</p>
            </div>
        </div>
    </div>
    
</div>
</body>