<div class="card">
    <div class="card-body">
        
        <form (ngSubmit)="update()" #ProfileForm="ngForm">
<div class="container h-100 d-flex justify-content-center">
    <div class="p-3 py-5">
 



        <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="text-right">Edit your profile</h6>
        </div>
        <span *ngIf="notification" class="elementToFadeInAndOut">
            <i class="fas fa-check-circle {{notification.class}}"></i>
            {{notification.message}}
        </span>
        <div class="row mt-2">
            <div class="col-md-6"><label class="labels">First name</label>
                <input type="text" class="form-control" id="firstName"
                    required
                    [(ngModel)]="user.firstName" name="firstName"
                    #firstName="ngModel">

            </div>
            <div class="col-md-6"><label class="labels">Surname</label>
                <input type="text" class="form-control" id="lastName"
                    required
                    [(ngModel)]="user.lastName" name="lastName"
                    #lastName="ngModel">

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12"><label class="labels">Email</label>
                <input type="text" class="form-control" id="email"
                    required
                    [(ngModel)]="user.email" name="email"
                    #email="ngModel">

            </div>
           
            <div class="col-md-12"><label class="labels">Address</label>
                <input type="text" class="form-control" id="address"
                    required
                    [(ngModel)]="user.address" name="address"
                    #address="ngModel">

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6"><label class="labels">Points</label>
                <p>{{user.points}}</p>
            </div>
           
            <div class="col-md-6"><label class="labels">Birthday</label>
                <p>{{user.birthday}}</p>

            </div>
        </div>
        <!-- <div class="row mt-3">
            <div class="col-md-6"><label class="labels">Password</label>
                <input type="text" class="form-control" id="school"
                required
                [(ngModel)]="user.school" name="school"
                #school="ngModel">

            </div>
            <div class="col-md-6"><label class="labels">verify password</label>
                <input type="text" class="form-control" id="school"
                    required
                    [(ngModel)]="education.school" name="school"
                    #school="ngModel">

            </div>
        </div> -->
        <div class="row mt-3">
        <div class="col-md-4 text-center"><button class="btn btn-primary profile-button" [disabled]="!ProfileForm.dirty" type="submit">Save Profile</button></div>
    </div>
    </div>

</div>
</form>
 </div>
</div>
